/* Colors (listed here to help with find and replace)
 * Based on UMN-reccomended digital colors. 1 is primary, 2 is dark secondary, 3 is light secondary. L is more white (washed out).
 * 	Maroon1: 	#7a0019
 * 	Maroon2: 	#5b0013
 * 	Maroon3: 	#900021
 * 	Gold1: 		#ffcc33
 * 	Gold2: 		#ffb71e
 * 	Gold3: 		#ffde7a
 * 	Blue1: 		#16bbe6
 * 	Blue1L:		#87d5eb
 * 	Blue2: 		#0b3d4c
 * 	Blue2L: 	#809fa6
 * 	Blue3: 		#a3dce8
 * 	Blue3L: 	#d0edf5
 * 	Orange1: 	#e98524
 * 	Orange1L: 	#f6c17e
 * 	Orange2: 	#ca7a29
 * 	Orange2L: 	#e5ba7f
 * 	Orange3: 	#f0cc65
 * 	Orange3L: 	#f7e7b2
 * 	Green1: 	#bcd530
 * 	Green1L: 	#dde681
 * 	Green2: 	#726f2d
 * 	Green2L: 	#b9b790
 * 	Green3: 	#dfe670
 * 	Green3L: 	#eef2b8
 * 	Grey1: 		#cccccc
 * 	Grey1L: 	#
 * 	Grey2: 		#616365
 * 	Grey2L: 	#b7b7b7
 * 	Grey3: 		#d5d6d2
 * 	Grey3L: 	#ebebeb
 * 	Brown1: 	#e2d3a4
 * 	Brown1L: 	#
 * 	Brown2: 	#91785b
 * 	Brown2L: 	#d3bf96
 * 	Brown3: 	#e9debb
 * 	Brown3L: 	#f0e9d1
 */


body{
	background: #f7e7b2;
}

#margin-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1152px;
}

#group-header {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1152px;
	font-size: 20px;
	background-color: #616365;
}

/* Homepage Slider */
/* TODO:
 *   Make this behave well on narrow screens
 *   Test this on a variety of browsers
 *   Make it work with different image sizes
 *   Make the tooltip and progress bar work
 */
#slider {
	background: #616365;
	border: 5px solid #eaeaea;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
	width: auto;
	width: auto;
	max-width: 680px;
	max-height: 320px;
	margin: 0 auto;
	overflow: visible;
	position: relative;
}

#mask {
	overflow: hidden;
	height: 310px;
}

#slider ul {
	margin: 0 auto;
	padding: 0;
	position: relative;
}

#slider li {
	width: auto;
	height: auto;
	max-width: 680px;
	max-height: 320px;
	display: block;
	left: 50%;
	margin-right: -50%;
	position: absolute;
	top: 0px;   /* Start image outside slider */
	list-style: none;
	transform: translate(-50%, 0);
}

#slider img {
	width: auto;
	height: auto;
	max-width: 680px;
	max-height: 320px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Homepage slider animation 
 * The cycle time in li.[nth]animation is the total duration of the sliedshow
 * The timing of keyframes is given by their percentage through the animation duration.
 *     e.g. with a 20s duration, 5% is 1s
 */
#slider li.firstanimation {
	animation: cycle 20s linear infinite;
}

#slider li.secondanimation {
	animation: cycletwo 20s linear infinite;
}

#slider li.thirdanimation {
	animation: cyclethree 20s linear infinite;
}

#slider li.fourthanimation {
	animation: cyclefour 20s linear infinite;
}

@keyframes cycle {
	0%  { top: 0px;    opacity: 1; } /* Start the first slide in view */
	20% { top: 0px;    opacity: 1; } /* Stay there for 4s */
	25% { top: 325px;  opacity: 0; } /* Move out of view for 1s */
	95% { top: -325px; opacity: 0; } /* Move back to start */
	100%{ top: 0px;    opacity: 1; } /* Enter image for 1s */
}

@keyframes cycletwo {
	0%  { top: -325px; opacity: 0; } /* Start out of view */
	20% { top: -325px; opacity: 0; } /* Stay there for 4s */
	25% { top: 0px;    opacity: 1; } /* Move into view for 1s */
	45% { top: 0px;    opacity: 1; } /* Stay there for 4s */
	50% { top: 325px;  opacity: 0; } /* Move out for 1s */
	100%{ top: -325px; opacity: 0; } /* Move back to start */
}

@keyframes cyclethree {
	0%  { top: -325px; opacity: 0; } /* Start out of view */
	45% { top: -325px; opacity: 0; } /* Stay there for 9s */
	50% { top: 0px;    opacity: 1; } /* Move into view for 1s */
	70% { top: 0px;    opacity: 1; } /* Stay there for 4s */
	75% { top: 325px;  opacity: 0; } /* Move out for 1s */
	100%{ top: -325px; opacity: 0; } /* Move back to start */
}

@keyframes cyclefour {
	0%  { top: -325px; opacity: 0; } /* Start out of view */
	70% { top: -325px; opacity: 0; } /* Stay there for 14s */
	75% { top: 0px;    opacity: 1; } /* Move into view for 1s */
	95% { top: 0px;    opacity: 1; } /* Stay there for 4s */
	100%{ top: 325px;  opacity: 0; } /* Move out for 1s */
}

/* Homepage Slider Progress Bar */
.progress-bar {
	position: relative;
	top: -5px;
	width: 680px;
	height: 5px;
	background: #000;
	animation: fullexpand 20s ease-out infinite;
}

@keyframes fullexpand {
	/* Become visible */
	0%, 25%, 50%, 75%, 100% { width: 0%; opacity: 0.7; }
	/* Move */
	20%, 45%, 70%, 95% { width: 100%; opacity: 0.7; }
	/* Fade out */
	23%, 48%, 73%, 98% { width: 100%; opacity: 0; }
	/* Empty */
	24%, 49%, 74%, 99% { width: 0%; opacity: 0; }
}

/* Homepage Slider Tooltip */
#slider .tooltip {
	background: rgba(0,0,0,0.7);
	min-width: 300px;
	max-width: 680px;
	width: auto;
	height: 60px;
	position: relative;
	bottom: 100px;
	left: -680px;
	transition: all 0.3s ease-in-out;
}

#slider .tooltip h1 {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	line-height: 60px;
	padding: 0 0 0 10px;
}

#slider li#first:hover .tooltip,
#slider li#second:hover .tooltip,
#slider li#third:hover .tooltip,
#slider li#fourth:hover .tooltip {
	left: 0px;
}

#slider:hover li,
#slider:hover .progress-bar {
	animation-play-state: paused;
}

/* Navigation Bar */
#navcontainer {
	background-color: #616365;
}

#navcontainer ul {
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 0;
	margin-top: 0; 					/* cancels gap caused by top padding in Opera 7.54 */
	margin-left: 0;
	background-color: #616365;
	color: white;
	width: 100%;
	font-family: Arial,Helvetica,sans-serif;
	line-height: 25px; 				/* fixes Firefox 0.9.3 */
}

#navcontainer ul li {
	display: inline;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 5px; 				/* matches link padding except for left and right */
	padding-top: 5px;
}

#navcontainer ul li a {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
	margin: 20px 0 20px 0;
	color: white;
	text-decoration: none;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	white-space: nowrap;
}

#navcontainer ul li a:hover {
	background-color: #900021;
	color: white;
	white-space: nowrap;
}

#page-body {
	overflow: hidden;
	margin-left: 15px;
	background-color: #f7e7b2;
	font-family: Arial,Helvetica,sans-serif;
	line-height: 30px;
}

#text-block {
	margin-left: 5%;
	float: left;
	width: 65%;
	font-family: Arial,Helvetica,sans-serif;
	line-height: 30px;
}
/* Home page (index.html) */

#news-container {
	background-color: #d3bf96;
	float: right;
	width: 25%;
	height: 100%;
	border-width: 2px;
	border-color: white;
	margin: 0;
	font-size: medium;
}

#news-container h2 {
	background-color: #d3bf96;
	padding: 0.5%;
	text-align: center;
	font-size: large;
}

#news-item {
	background-color: #eee;
	padding: 2px;
	border: 1px solid #555;
	margin: 3px 1px;
}

#news-item h3 {
	font-size: small;
}

.etal {
	font-style: italic;
}

/*#sponsor-container {

}*/

/* People (people.html) */

#group-photo img {
	width: 100%;
	height: auto;
}

#people-container {
	clear: both;
}

#person {
	clear: both;
}

#person img {
	float: left;
	margin: 0 3% 1% 1%;
	width: 200px;
	height: 200px;
}

#person h2 {

}

/* Research (research.html) */



/* Publications (pubications.html) */

#publication-container {
	background-color: #d3bf96;
	padding: 0.5%;
	margin: 2% 5%;
	font-family:Arial;
}

/* Collaborations (collaborations.html) */



/* Links (links.html) */



/* Resources (resources.html) */


