/* General site style */
body{
	background: white;
	font-family: sans-serif;
}

a:link {
	color: #0b3d4c;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #303030;
}

#margin-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1152px;
}

#group-header {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1152px;
	background-color: #616365;
}

#group-header-left {
	float: left;
	display: inline-block;
	font-size: 25px;
	font-family: serif;
	width: auto;
	margin: 5px 10px;
}

#group-header-right {
	float: right;
	display: inline-block;
	font-size: 15px;
	font-family: serif;
	width: auto;
	margin: 5px 10px;
}


/* Navigation Bar */
#navcontainer {
	background-color: #616365;
}

#navcontainer ul {
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 0;
	margin-top: 0; 					/* cancels gap caused by top padding in Opera 7.54 */
	margin-left: 0;
	background-color: #616365;
	color: white;
	width: 100%;
	line-height: 25px; 				/* fixes Firefox 0.9.3 */
}

#navcontainer ul li {
	display: inline;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 5px; 				/* matches link padding except for left and right */
	padding-top: 5px;
}

#navcontainer ul li a {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
	margin: 20px 0 20px 0;
	background-color: #3A3434;
	color: white;
	text-decoration: none;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	white-space: nowrap;
}

#navcontainer ul li a:hover {
	background-color: #900021;
	color: white;
	white-space: nowrap;
}

#page-body {
	overflow: hidden;
	margin-left: 15px;
	background-color: white;
}

/* Home page (index.html) */
/* Homepage Slider */
#slider {
	clear: both;
	background: #3A3434;
	border: 5px solid #eaeaea;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
	width: auto;
	width: auto;
	max-width: 800px;
	max-height: 320px;
	margin: 0 auto;
	overflow: visible;
	position: relative;
}

#mask {
	overflow: hidden;
	height: 310px;
}

#slider ul {
	margin: 0 auto;
	padding: 0;
	position: relative;
}

#slider li {
	width: auto;
	height: auto;
	max-width: 680px;
	max-height: 320px;
	display: block;
	left: 50%;
	margin-right: -50%;
	position: absolute;
	top: 0px;   /* Start image outside slider */
	list-style: none;
	transform: translate(-50%, 0);
}

#slider img {
	width: auto;
	height: auto;
	max-width: 680px;
	max-height: 320px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Homepage slider animation 
 * The cycle time in li.[nth]animation is the total duration of the sliedshow
 * The timing of keyframes is given by their percentage through the animation duration.
 *     e.g. with a 20s duration, 5% is 1s
 */
#slider li.firstanimation {
	animation: cycle 20s linear infinite;
}

#slider li.secondanimation {
	animation: cycletwo 20s linear infinite;
}

#slider li.thirdanimation {
	animation: cyclethree 20s linear infinite;
}

#slider li.fourthanimation {
	animation: cyclefour 20s linear infinite;
}

@keyframes cycle {
	0%  { top: 0px;    opacity: 1; } /* Start the first slide in view */
	20% { top: 0px;    opacity: 1; } /* Stay there for 4s */
	25% { top: 325px;  opacity: 0; } /* Move out of view for 1s */
	95% { top: -325px; opacity: 0; } /* Move back to start */
	100%{ top: 0px;    opacity: 1; } /* Enter image for 1s */
}

@keyframes cycletwo {
	0%  { top: -325px; opacity: 0; } /* Start out of view */
	20% { top: -325px; opacity: 0; } /* Stay there for 4s */
	25% { top: 0px;    opacity: 1; } /* Move into view for 1s */
	45% { top: 0px;    opacity: 1; } /* Stay there for 4s */
	50% { top: 325px;  opacity: 0; } /* Move out for 1s */
	100%{ top: -325px; opacity: 0; } /* Move back to start */
}

@keyframes cyclethree {
	0%  { top: -325px; opacity: 0; } /* Start out of view */
	45% { top: -325px; opacity: 0; } /* Stay there for 9s */
	50% { top: 0px;    opacity: 1; } /* Move into view for 1s */
	70% { top: 0px;    opacity: 1; } /* Stay there for 4s */
	75% { top: 325px;  opacity: 0; } /* Move out for 1s */
	100%{ top: -325px; opacity: 0; } /* Move back to start */
}

@keyframes cyclefour {
	0%  { top: -325px; opacity: 0; } /* Start out of view */
	70% { top: -325px; opacity: 0; } /* Stay there for 14s */
	75% { top: 0px;    opacity: 1; } /* Move into view for 1s */
	95% { top: 0px;    opacity: 1; } /* Stay there for 4s */
	100%{ top: 325px;  opacity: 0; } /* Move out for 1s */
}

/* Homepage Slider Progress Bar */
.progress-bar {
	position: relative;
	top: -5px;
	width: 680px;
	height: 5px;
	background: #000;
	animation: fullexpand 20s ease-out infinite;
}

@keyframes fullexpand {
	/* Become visible */
	0%, 25%, 50%, 75%, 100% { width: 0%; opacity: 0.7; }
	/* Move */
	20%, 45%, 70%, 95% { width: 100%; opacity: 0.7; }
	/* Fade out */
	23%, 48%, 73%, 98% { width: 100%; opacity: 0; }
	/* Empty */
	24%, 49%, 74%, 99% { width: 0%; opacity: 0; }
}

/* Homepage Slider Tooltip */
#slider .tooltip {
	background: rgba(0,0,0,0.7);
	min-width: 300px;
	max-width: 680px;
	width: auto;
	height: 60px;
	position: relative;
	bottom: 100px;
	left: -680px;
	transition: all 0.3s ease-in-out;
}

#slider .tooltip h1 {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	line-height: 60px;
	padding: 0 0 0 10px;
}

#slider li#first:hover .tooltip,
#slider li#second:hover .tooltip,
#slider li#third:hover .tooltip,
#slider li#fourth:hover .tooltip {
	left: 0px;
}

#slider:hover li,
#slider:hover .progress-bar {
	animation-play-state: paused;
}

#news-container {
	background-color: #91785b;
	float: left;
	width: 25%;
	height: 100%;
	border-width: 2px;
	border-color: white;
	margin: 0px 25px 0px 5px;
	font-size: small;
}

#news-container h2 {
	background-color: #d3bf96;
	color: #7a0019;
	padding: 0.5%;
	text-align: center;
	font-size: medium;
}

#news-item {
	background-color: #cccccc;
	padding: 2px;
	margin: 3px 3px;
}

#news-item h3 {
	color: #7a0019;
	font-size: small;
}

#news-item h3 a {
	color: #7a0019;
}

.etal {
	font-style: italic;
}

/* People (people.html) */
#group-photo img {
	width: 100%;
	height: auto;
}

#people-container {
	clear: both;
}

#person {
	clear: both;
	overflow: auto;
	padding: 2px;
	border: 1px solid #444;
	border-radius: 10px;
	margin: 3px 1px;
	
}

#person-text {
	display: inline-block;
}

#person img {
	float: left;
	display: inline-block;
	margin: 0 3% 1% 1%;
	width: 200px;
	height: 200px;
}

/* Research (research.html) */

/* Publications (pubications.html) */


#publication-container-local {
	background-color: #d3bf96;
	padding: 0.5%;
	border: 1px solid #444;
	border-radius: 10px;
	margin: 2% 5%;
}

#publication-container-collab {
	background-color: #b7b7b7;
	padding: 0.5%;
	border: 1px solid #444;
	border-radius: 10px;
	margin: 2% 5%;
}
/* Collaborations (collaborations.html) */

/* Links (links.html) */

/* Resources (resources.html) */



